{{#isParamPath}}
  id: {{paramsType}}, 
{{/isParamPath}}
{{^isParamPath}}
  {{#hasParams}}
    params: {{paramsType}}, 
  {{/hasParams}}
{{/isParamPath}}
{{#hasBody}}
  body: {{bodyType}}, 
{{/hasBody}}