export interface IParams {
  {{#paramsList}}
      /**
        * {{#description}}{{description}}{{/description}}{{^description}}{{name}}{{/description}}
        */
    {{name}}{{^required}}?{{/required}}: {{schema.type}};
  {{/paramsList}}
}
