import type {
  {{each list.filter(i => i.params?.length > 0)}}
  {{$value.namespace}},
  {{/each}}
} from './{{typesFileName}}'
{{each list}}
/**
 * 接口名称：{{$value.summary}}
 *
 * @description 接口路径：{{$value.path}}
 * @description 接口分组：{{$value.tags.join(',')}}
 */
export const {{$value.name}} = (params: {{$value.paramsType}},config: RequestConfig = {},) => axios.{{$value.method}}<{{$value.responseType}}>({{$value.requestPath}},{{params}},config);
{{/each}}
