{{#isParamPath}}
  {{#hasParams}}
    { ...config }, 
  {{/hasParams}}
  {{#hasBody}}
    body, config
  {{/hasBody}}
{{/isParamPath}}
{{^isParamPath}}
  {{#hasParams}}
    { params, ...config }, 
  {{/hasParams}}
  {{#hasBody}}
    body, config
  {{/hasBody}}
{{/isParamPath}}