{{#isParamPath}}
  {{#hasBody}}
    body, 
  {{/hasBody}}
  {{^hasBody}}
    {}, 
  {{/hasBody}}
{{/isParamPath}}
{{^isParamPath}}
  {{#hasParams}}
    { params }, 
  {{/hasParams}}
  {{#hasBody}}
    body, 
  {{/hasBody}}
{{/isParamPath}}