{{#isParamPath}}
{{/isParamPath}}
{{^isParamPath}}
  {{#hasParams}}
    export interface IParams {
      {{#paramsView}}
        /**
          * {{#description}}{{description}}{{/description}}{{^description}}{{name}}{{/description}}
          */
        {{name}}{{^required}}?{{/required}}: {{schema.type}};
      {{/paramsView}}
    }
  {{/hasParams}}
{{/isParamPath}}
