{{#hasParams}}
  {{#isParamPath}}
    id: {{paramsType}}, 
  {{/isParamPath}}
  {{^isParamPath}}
    params: {{paramsType}}, 
  {{/isParamPath}}
{{/hasParams}}
{{#hasBody}}
  body: {{bodyType}}, 
{{/hasBody}}