export interface IParams {
  {{#paramsList}}
      /**
        * {{#description}}{{description}}{{/description}}{{^description}}{{name}}{{/description}}
        */
    {{name}}{{^required}}?{{/required}}: {{#ifEquals schema.type "array"}}{{schema.items.type}}[]{{else}}{{schema.type}}{{/ifEquals}};
  {{/paramsList}}
}
