import type {
  {{#list}}
  {{namespace}},
  {{/list}}
} from './{{typesFileName}}'
{{#list}}
/**
 * 接口名称：{{summary}}
 *
 * @description 接口路径：{{{path}}}
 * @description 接口分组：{{tags}}
 */
export const {{name}} = ({{> servicesItemArgs}}config: RequestConfig = {},) => axios.{{method}}<{{> servicesItemRes}}>({{#isParamPath}}`{{{requestPath}}}`{{/isParamPath}}{{^isParamPath}}'{{{requestPath}}}'{{/isParamPath}},{{> servicesItemData}});
{{/list}}
